@use '../Utils/' as u;
$accent:#EE7BD9;
$active:#FFF;

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span{
    display: none;
}
/*The line below stops the navbar animation when the window is being resized.*/
.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}

ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}
span{
    display:none;
}
  
header{
    height:5rem;
    padding:1rem .5rem;

    #logo h1{
        font-size: 1.5rem;
        position: fixed;
        top: 1%;
    }

     /*nav*/
  #hamburger{
    position:fixed;
    left:90%;
    top: 3%;
    height:1rem;
    z-index:9999;
    width:1.8rem;
    background:none;
    border:none;
  }

  .hamburger_line{
    width:1.5rem;
    height:.6rem;
    border-top:solid white 1.6px;
  }
  .hamburger_line:hover{
    cursor:pointer;
  }
  #nav_bar{
      /* the min function will choose the smallest size parameter based on the screen dimension and apply that to the padding.*/
      padding: min(15vh, 5rem) 2rem;
      z-index:1000;
      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }
  #nav_bar[data-visible="true"]{
    transform: translateX(0%);
  }
  
  #nav_list{
      margin-top: 2.5em;
      height:45%;
      width:100%;
      flex-direction:column;
      align-items:center;
  }
}

/*Intro Section*/
#intro{
    margin: 2rem 0 ;
}
#introHeader{


    h1{
        font-size: 2.5em;
        margin-bottom: 1rem;
    }
    h2{
        font-size: 2em;
        margin-bottom: 1rem;
    }
    p{
        margin-bottom: 3rem;
    }
}
#portfolioImg{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
#introParagraph, .about_bio, #contact_info{
    padding: 1rem 1,5rem;
    margin: .5rem 2rem;
    text-align: justify;
}
/*About Section*/
#about, #tech{
    margin: 2rem 0;
    padding-bottom: 1rem;
}
#about h2, h3{
    margin: 2rem 0;
}
.about_bio{
    font-size: x-large;
    margin-bottom: 2rem;
    padding-left: 1.5rem;

    }

/*Tech Section*/
#tech h2{
    text-align: center;
}
#tech_list{
    margin-top: 1.5rem;
}
.tech_item i{
    font-size: 3em;
    margin: 1rem 0;
}
.tech_item h4{
    font-size: 1em;
}

/*Works Section*/
.projects img{
    width: 100%;
}
.cta button{
    border: 1.5px solid $accent;
    border-radius: 50px;
    padding: .7rem 3rem;
    margin-top: 1.5rem;
    background: none;
}
.cta button:hover{
     background-color: $accent;
     color: $active;
     cursor: pointer;
}

.cta{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 1.5rem 1rem;
}

#contact_form{
    width: 25rem;
    height:35rem;
    margin: 3rem 0;
    padding: 1.5rem 2.5rem;
    border: 2px solid $accent;
    border-radius: 15px;
}

#collected_info{
    height: 85%;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}
#user_info{
    height: 100%;
    width:100%;
}
.user_data, #contact_message textarea{
    border-radius: 20px;
    border: solid 2px #EE7BD9;
}
.user_data{
    width: 17rem;
    height: 2.3rem;
    padding: 6px;

}
#contact_message{
    width: 100%;
    textarea{
        width: 100%;
        height: 100%;
        padding:6px 0 0 6px ;
    }
}
#sub_btn{
    text-align: center;
  }
  #submit{
    padding: 5px 25px;
    width:10rem;
    background: none;
    color: #FFF;
    background: #EE7BD9;
    border: solid 2px none;
    border-radius: 20px;
  }
  #submit:hover{
    cursor: pointer;
  }
@include u.breakpoint-up(large){
    main{
        margin: 0 2.5rem;
    }

    #hamburger{
        display:none;
      }
      
      #nav_bar{
        position:absolute;
        padding:0;
        background:none;
        backdrop-filter:none;
        transform: translateX(0%);
      }
      
      #nav_list{
        height:.5rem;
        width:100%;
        flex-direction:row;
        align-items:center;
    }
      .nav_item{
        color:var(--primary-color);
      }
      .nav_item:hover{
        color:var(--secondary-color);
      }

    #Intro{
        height: 30vh;
    }
    #intro_bio{
        height: 45vh;
        #portfolio_img{
            background-image: url('/Portfolio_sites/Version_2/Media/Portfolio6.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 30%;
        }
        img{
            width: 35%;
            position: relative;
            top: 10%;
            left: 30%;
        }
    }
    #tech{
        height: 23rem;
        margin-bottom: 5rem;
    
        #tech_list{
            width: 100%;
        
            .list_items {
                font-size: 2em;
                margin: 0 4rem;
                padding: 0 1rem;
        
                .tech_item{
                    p{
                       font-size: .4em;
                    }
                }
            }
            
        }
    }
    #work{
        margin-bottom: 10rem;
        .projects{
            margin: 2rem 0;
            img{
                width: 75%;
                border-radius: 25px;
            }

        }
    }
    
}
