@use '../Utils/' as u;
$accent:#EE7BD9;
$active:#FFF;

//gradient circle rules
$circleSize:80rem;

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*The line below stops the navbar animation when the window is being resized.*/
.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}
body{
    width: 100vw;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
    color: $active;
}
span{
    display: none;
}
  //removed the top section styles and added a width to the header and one rem to its padding.
header{
    height:5rem;
    width: 100%;
    padding:1rem 1rem;

    #logo h1{
        font-size: 1.5rem;
        position: fixed;
        top: 1%;
    }

     /*nav*/
  #hamburger{
    position:fixed;
    left:85%;
    top: 3%;
    height:1rem;
    z-index:9999;
    width:1.8rem;
    background:none;
    border:none;
  }

  .hamburger_line{
    width:1.5rem;
    height:.6rem;
    border-top:solid white 1.6px;
  }
  .hamburger_line:hover{
    cursor:pointer;
  }
  #nav_bar{
      /* the min function will choose the smallest size parameter based on the screen dimension and apply that to the padding.*/
      padding: min(15vh, 5rem) 2rem;
      z-index:1000;
      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }
  #nav_bar[data-visible="true"]{
    transform: translateX(0%);
  }
  
  #nav_list{
      margin-top: 2.5em;
      height:45%;
      width:100%;
      flex-direction:column;
      align-items:center;
  }
}
/*Intro Section*/
//adding padding and more margin to my intro.
#intro{
    margin: 5rem 0 15rem 0 ;
    padding-bottom: 5rem;
}
#introContent{
    width: 60%;
    margin-top:3rem;
}
#portfolioImg{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    img{
        width: 50%;
        border-radius: 50%;
    }
}
 .about_bio, #contact_info{
    padding: 1rem 1,5rem;
    margin: .5rem 2rem;
}

@keyframes movingCircles{
    0%{
       transform: rotate(0deg)
    }
    50%{
       transform: rotate(180deg);
    }
    100%{
       transform: rotate(360deg);
    }
}
@keyframes verticalMove{
    0%{
       transform: translateY(-50%);
    }
    50%{
       transform: translateY(50%);
    }
    100%{
       transform: rtranslateY(-50%);
    }
}
@keyframes horizontalMove{
    0%{
       transform: translateX(-50%) translateY(-10%);
    }
    50%{
       transform: translateX(-50%) translateY(10%);
    }
    100%{
       transform: translateX(-50%) rtranslateY(10%);
    }
}
 
#gradient-bg{
    width: 105%;
    height: 125%;
    position: absolute;
    overflow: hidden;
    z-index: -2000;
    
    top: 0;
    left: 0;
 
    #gradientContainer{
       width: 100%;
       height: 100%;
    }
    #graid1{
       position: absolute;
       width: $circleSize;
       height: $circleSize;
       
       //The two line below places the circle in the very center of the page.
       top: calc(50% - $circleSize / 2);
       left: calc(80% - $circleSize / 2);
 
       transform-origin: center center;
       animation: verticalMove 30s ease infinite;
    }
    #graid2{
       position: absolute;
       width: $circleSize;
       height: $circleSize;
       //The two line below places the circle in the very center of the page.
       top: calc(50% - $circleSize / 2);
       left: calc(60% - $circleSize / 2);
 
       transform-origin: calc(50% - 400px);
       animation: movingCircles 18s reverse infinite;
    }
    #graid3{
       position: absolute;
       width: $circleSize;
       height: $circleSize;
       //The two line below places the circle in the very center of the page.
       top: calc(50% - $circleSize / 2 + 200px);
       left: calc(90% - $circleSize / 2 - 500px);
 
       transform-origin: calc(50% - 400px);
       animation: movingCircles 48s linear infinite;
    }
    #graid4{
       position: absolute;
       width: $circleSize;
       height: $circleSize;
       //The two line below places the circle in the very center of the page.
       top: calc(50% - $circleSize / 2);
       left: calc(80% - $circleSize / 2);
 
       transform-origin: calc(80% - 200px);
       animation: horizontalMove 18s ease infinite;
    }
    #graid5{
       position: absolute;
       width: $circleSize;
       height: $circleSize;
       //The two line below places the circle in the very center of the page.
       top: calc(50% - $circleSize);
       left: calc(50% - $circleSize);
 
       transform-origin: calc(50% - 800px) calc(50% + 200px);
       animation: movingCircles 25s ease infinite;
    }
   
}
/*About Section*/
#about, #tech{
    margin: 2rem 0;
    padding-bottom: 1rem;
}
#about h2, h3{
    margin: 2rem 0;
}
.about_bio{
    margin-bottom: 2rem;
    padding-left: 1.5rem;

}

/*Tech Section*/
#tech_list{
    margin-top: 1.5rem;
}
.tech_item i{
    margin: 1rem 0;
}

/*Works Section*/
.projects{
    width:90%;
    height: 100%;
    margin: 2rem 0;
    padding-bottom:4rem;
    img{
        width: 100%;
    }
}
.cta{
    width: 100%;
    height: 9rem;
    padding: 1rem 0;
    margin: auto;
    margin-left: -5rem;

    button{
        //the rules in this code block removes the small round image the button element made on the page.
        background: none;
        border: none;
    }
    button:hover{
        cursor: pointer;
   }

    @keyframes animate1A{
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(100%);
        }
    }
    @keyframes animate2A{
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(100%);
        }
    }
    @keyframes animate3A{
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    @keyframes animate4A{
        0%{
            transform: translateY(100%);
        }
        100%{
            transform: translateY(-100%);
        }
    }

    @keyframes animate1B{
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    @keyframes animate2B{
        0%{
            transform: translateY(100%);
        }
        100%{
            transform: translateY(-100%);
        }
    }
    @keyframes animate3B{
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(100%);
        }
    }
    @keyframes animate4B{
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(100%);
        }
    }
    .cta_btn{
        position: absolute;
        color: $active;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1em;
        padding: 15px 30px;
        box-shadow: 0 10px 60px rgba(225, 226, 236, 0.5);
        overflow: hidden;
    
        ::before{
            content: '';
            position: absolute;
            width: 50%;
            top: 2px;
            left: 2px;
            bottom: 2px;
            background: rgba(147, 49, 204, 0.05);
        }
    }
    .cta_btn span:nth-child(1){
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #9331cc, $accent);
        animation: animate1A 2s linear infinite;
    }
    .cta_btn span:nth-child(2){
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, #9331cc, $accent);
        animation: animate2A 2s linear infinite;
        animation-delay: 1s;
    }
    .cta_btn span:nth-child(3){
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #9331cc, $accent);
        animation: animate3A 2s linear infinite;
    }
    .cta_btn span:nth-child(4){
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to top, #9331cc, $accent);
        animation: animate4A 2s linear infinite;
        animation-delay: 1s;
    }

    .live span:nth-child(1){
        background: linear-gradient(to right, #02198e, #1472ff);
        animation: animate1B 2s linear infinite;
    }
     .live span:nth-child(2){
        background: linear-gradient(to right, #02198e, #1271ff);
        animation: animate2B 2s linear infinite;
        animation-delay: 1s;
    }
     .live span:nth-child(3){
        background: linear-gradient(to right, #02198e, #1271ff);
        animation: animate3B 2s linear infinite;
    }
     .live span:nth-child(4){
        background: linear-gradient(to right, #02198e, #1271ff);
        animation: animate4B 2s linear infinite;
        animation-delay: 1s;
    }
    .live{
        width: 10.3rem ;
    }

    .submit_btn span:nth-child(1){
        background: linear-gradient(to right, #ffd900, #bcb432);
        animation: animate1B 2s linear infinite;
    }
     .submit_btn span:nth-child(2){
        background: linear-gradient(to right, #ffd900, #bcb432);
        animation: animate2B 2s linear infinite;
        animation-delay: 1s;
    }
     .submit_btn span:nth-child(3){
        background: linear-gradient(to right, #ffd900, #bcb432);
        animation: animate3B 2s linear infinite;
    }
     .submit_btn span:nth-child(4){
        background: linear-gradient(to right, #ffd900, #bcb432);
        animation: animate4B 2s linear infinite;
        animation-delay: 1s;
    }
}
//added a bit of margin and padding to center the button

/*Contact Form Section*/
#contact{
    padding-bottom: 5rem;

    #contact_paragraph{
        width: 70%;
        margin:3rem 0 2rem 0;
        padding: 2rem 0 2rem 0;
        text-align: center;
    }
    #contact_btn_section{
        margin:auto;
        color: $active;
    }
    #contact_form{
        width: 19rem;
        height:35rem;
        border: 2px solid $accent;
        border-radius: 15px;
    
        #collected_info{
            height: 70%;
            width: 90%;
            margin-bottom: 1rem;
            padding: .5rem .3rem;
        }
        #user_info{
            height: 100%;
            width:100%;
            input{
                width: 100%;
            }
        }
        .user_data, #contact_message textarea{
            border-radius: 20px;
            border: solid 2px #EE7BD9;
        }
        .user_data{
            width: 17rem;
            height: 2.3rem;
            padding: 6px;
        
        }
        #contact_message{
            width: 100%;
            textarea{
                width: 100%;
                height: 100%;
                padding:6px 0 0 6px ;
            }
        }
        #sub_btn{
            height: 5%;
            margin: auto;
            padding: 10%;
            text-align: center;
            justify-content: center;
            align-items: center;
            .submit_btn{
                padding: 7px 40px;
                box-shadow: 0 10px 60px rgba(225, 226, 236, 0.5);
                overflow: hidden;
                border: none;
                input{
                    border: none;
                }
            }
            
        }
    }
}


@include u.breakpoint-up(large){
    main{
        margin: 0 2.5rem;
    }

    #hamburger{
        display:none;
      }
      
      #nav_bar{
        position:absolute;
        padding:0;
        background:none;
        backdrop-filter:none;
        transform: translateX(0%);
      }
      
      #nav_list{
        height:.5rem;
        width:100%;
    }

    #gradient-bg{
        width: 100vw;
        height: 100vh;
    }    
    #portfolioImg{
        width: 100%;
        text-align: center;
        img{
            width: 50%;
            border-radius: 50%;
        }
    }
    #intro_bio{
        height: 45vh;
        #portfolio_img{
            background-image: url('/Portfolio_sites/Version_2/Media/Portfolio6.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 30%;
        }
        img{
            width: 35%;
            position: relative;
            top: 10%;
            left: 30%;
        }
    }
    #tech{
        height: 23rem;
        margin-bottom: 5rem;
    
    
            .list_items {
                margin: 1rem;
                padding: 1rem;
            }
            
    }
    #work{
        margin-bottom: 3rem;
        .projects{
            
            img{
                width: 65%;
                border-radius: 25px;
            }
            .cta{

                width: 30%;
                padding: 1rem 0;
                margin-left: 35.5%;

                button{
                    padding: .8rem 4rem;
                    border: none;
                }

                .live{
                    width: auto;
                }
            }
        }
    }
    #contact{
        #contact_form{
            width: 40%;
            height:35rem;
            padding-top: 1%;
        
            #collected_info{
                height: 100%;
                padding: .3rem .5rem;
            }
        }
    }
}

