$accentColor:#EE7BD9;
$primaryOne:#5170FF;
$primaryTwo:#FF66C4;
$headerColor:#ffd900;
$textColor:#FFFFFF;
body{
    background-image: linear-gradient($primaryOne,$primaryTwo);
    color:$textColor;
}
#top{
   background-image: linear-gradient($primaryOne,$primaryTwo);
   background-repeat: no-repeat;
   header{
      #logo{
         color: $textColor;
      }
      #nav_bar{
         background:#091f4970;
         backdrop-filter: blur(1rem);
      }
      .nav_item{
         color: #FFF;
       }
   }

}
#bottom{
   background-image: linear-gradient($primaryTwo, $primaryOne);
   background-repeat: no-repeat;
}
 h1, h2,h3{
    color: $headerColor;
 }
 .nav_item:hover{
    color: $primaryTwo;
    cursor: pointer;
 }