@use '../Utils/' as u;

$accentColor:#EE7BD9;
$primaryOne:#bc00a2;
$primaryTwo:#001152;
$headerColor:#ffd900;
$textColor:#FFFFFF;

//gradient circle rules
$color1: rgb(18, 113, 255);
$color2:rgb(221, 74, 255);
$color3:rgb(100, 220, 255);
$color4:rgb(200, 50, 50);
$color5:rgb(188, 180, 50);
$colorInteractive:rgb(148, 100, 255);
$blending:hard-light;

#graid1{
   background: radial-gradient(circle at center, rgba($color1, 0.8) 0,rgba($color1,0) 50%) no-repeat;
   //The line below changes the blending of the gradient from a soft blur to a starker blur effect.
   mix-blend-mode: $blending;
   opacity: 1;
}
#graid2{
   background: radial-gradient(circle at center, rgba($color2, 0.8) 0,rgba($color2,0) 50%) no-repeat;
   //The line below changes the blending of the gradient from a soft blur to a starker blur effect.
   mix-blend-mode: $blending;
   opacity: 1;
}
#graid3{
   background: radial-gradient(circle at center, rgba($color3, 0.8) 0,rgba($color3,0) 50%) no-repeat;
   //The line below changes the blending of the gradient from a soft blur to a starker blur effect.
   mix-blend-mode: $blending;
   opacity: 1;
}
#graid4{
   background: radial-gradient(circle at center, rgba($color4, 0.8) 0,rgba($color4,0) 50%) no-repeat;
   //The line below changes the blending of the gradient from a soft blur to a starker blur effect.
   mix-blend-mode: $blending;
   opacity: 1;
}
#graid5{
   background: radial-gradient(circle at center, rgba($color5, 0.8) 0,rgba($color5,0) 50%) no-repeat;
   //The line below changes the blending of the gradient from a soft blur to a starker blur effect.
   mix-blend-mode: $blending;
   opacity: 1;
}

body{
    color:$textColor;
    background: linear-gradient(45deg, $primaryOne, $primaryTwo);
    
    header{
      #logo h1{
         color: $textColor;
      }
      #nav_bar{
         background:#091f4970;
         backdrop-filter: blur(1rem);
      }
      .nav_item{
         color: #FFF;
      }
       .nav_item:hover{
         color: $accentColor;
         cursor: pointer;
      }
   }
}
h1, h2,h3,h4{
   color: $headerColor;
}

//ADDING background color of page section to give the effect that the button is transparent
#sub_btn{
   button{
      background-color: #a7099a;
      input{
         background: none;
         color: $textColor;
      }
   }
  }
//gave the button element above the a tag the same color as the section it is in to give the appearace that it is transparent.
@include u.breakpoint-up(large){
   .nav_item_expanded:hover{
      color: $accentColor;
      cursor: pointer;
  }
   #project_1{
      button{
         background-color: #5f157a;
      }
   }
   #project_2{
      button{
          background-color: #7b1287;
      }
  }
  #project_3{
      button{
          background-color: #8d0f8f;
      }
  }
}
