@use '../Utils/' as u;

body{
    font-family: sans-serif;
    line-height: 3em; 
}
p{
    font-size: 1.5em;
    word-spacing: 0em;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size:1.8em;
}
.nav_item{
    font-size: 1.5em;
}


#introParagraph, #contact_info{
    font-size: small;
}
.about_bio{
    font-size: large;

}
#introContent{

    h1,h2,#introLine{
        line-height: 2em;
    }
    h1{
        font-size:large;
        
    }
    h2{
        font-size:medium;
    }
    #introParagraph{
        margin-top: 2em;
        text-align: justify;
    }
}


#about h2, #tech h2, .projects h3, #contact_form h1{
    font-size: 1.7em;
}
#about h3{
    font: 1em;
    text-align: center;
}
#tech h2{
    text-align: center;
}
#tech_list{
    list-style: none;
    .list_items {
        font-size: 1em;
        .tech_item{
            i{
                font-size: 1em;

            }
            p{
               font-size: .4em;
            }
        }
        .tech_item h4{
            font-size: .6em;
        }
    }
}
#tech_list, #contact_paragraph{
    font-size: 1.5em;
}
@include u.breakpoint-up(large){
    .nav_item_expanded{
        font-size: 1em;
    }
    #introHeader{
        h1{
            font-size: 2.5em;
        }
        h2{
            font-size: 2em;
        }
    }
    #introParagraph,#contact_info,.about_bio{
        text-align: justify;
    }
    .about_bio{
        font-size: x-large;
    
    }
}