body{
    font-family: sans-serif;
    line-height: 3em;
}
p{
    font-size: 1.8em;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size:1.8em;
}
.nav_item{
    font-size: 1.5em;
}
#tech_list{
    list-style: none;
    font-size: 1.5em;
}
