*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: Arial;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    position: absolute;
    width: 100vw;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_list{
    display: flex;
}
.nav_item{
    margin-right: 2px;
}
.nav_item,
 .menu_item {
     width: 180px;
     height: 40px;
    background: black;
    opacity: .8;
    list-style: none;
    font-size: 1em;
    line-height: 40px;
    text-align: center;
}
ul li a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
    display: block;
}
ul li a:hover{
    background-color: green;
}
/*the block belows hides the nested list*/
ul li ul li{
    display: none;
}
/*the block below makes the nested list visible once the user hover over the initial list*/
ul li:hover ul li{
    display: block;
}