*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game_screen{
    width: 960px;
    height: 540px;
    border: 1px solid black;
    background-image: url('/Projects/BunnyHop_Game/media/bunny_game_field.png');
    background-repeat: no-repeat;
}
#character{
    background-image: url("/Projects/BunnyHop_Game/media/bunny1.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    animation: escape 900ms infinite;
}
#obstacle{
    background-image: url("/Projects/BunnyHop_Game/media/bunny_game_snake_sm.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    animation: hunting 7s infinite;
}
@keyframes hunting {
    0%{left:960px;}
    100%{left:-100px;}
}
@keyframes escape {
    0%{top: 460px;}
    30%{top: 290px;}
    50%{top: 300px;}
    100%{top: 460px;}
}