*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box1{
    height: 100vh;
    width: 100%;
    background-image: url(/Projects/Effects/Parallax/Media/futuristic-night-city-background/2351186.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
#box2{
    height: 100vh;
    width: 100%;
    background-image: url(/Projects/Effects/Parallax/Media/ocean-sea-underwater-background-empty-bottom/785.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
#box3{
    height: 100vh;
    width: 100%;
    background-image: url(/Projects/Effects/Parallax/Media/space-game-background-neon-night-alien-landscape/1624.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
h1{
    font-family: Arial;
    font-size: 3em;
    color: white;
   text-align: center;
}