@use '../utils/' as u;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: u.$font;
}

img{
    width: 100%;
//    transform: rotate(10deg);
}
#btn{
    background: linear-gradient(90deg,#04de49,#ffeb3b,#f5973f,#04de49);
    background-size: 400%;
    padding: u.rem(8) u.rem(40);
    border-radius: u.rem(15);
    

    &:hover{
        animation: animate 8s linear infinite;
    transform: translateY(u.rem(-3));
    }

    @keyframes animate{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }
}
@include u.breakpoint-up(medium){
    #btn{
        background: linear-gradient(90deg,#04de49,#ffeb3b,#f5973f,#04de49);
        background-size: 400%;
        padding: u.rem(15) u.rem(45);
        border-radius: u.rem(35);
        
    
        &:hover{
            animation: animate 8s linear infinite;
        transform: translateY(u.rem(-3));
        }
    
        @keyframes animate{
            0%{
                background-position: 0%;
            }
            100%{
                background-position: 400%;
            }
        }
    }

}

@include u.breakpoint-up(large){
    .header{
        height: 10%;
        margin:u.rem(26) u.rem(30) u.rem(64) 0;
        padding:  0 u.rem(24);
    }
    .navbar__menu li:nth-child(4){
        background-color: var(--primary-clr);
        padding: u.rem(4) u.rem(13);
        border-radius: u.em(15);
    }
    .navbar__bars{
        display: none;
    }
}
