/*This partial control the style rules of the page.*/
@use '../utils/' as u;

.header__logo{
    font-size: u.rem(40);
}
.fa-bars{
    font-size: u.em(30);
}

h1{
    font-size: u.em(80);
    margin-bottom: u.rem(24);
    color:var(--primary-clr);
}
h2{
    font-size: u.em(55);
    margin-bottom: u.rem(13);
}
p{
    font-size: u.em(25);
    font-weight: 700;
    margin-bottom: u.rem(54);

}
a{
    text-decoration: none;
    color: #000;
}
a:active{
    color: rgb(224, 225, 225);
}
#cta{
    color:var(--light-clr);
}
#cta:active{
    color: #000;
}
#btn{
    color: var(--light-clr);
    letter-spacing: u.em(2);
    line-height: u.em(16);
}
@include u.breakpoint-up(medium){
    h1{
        font-size: u.em(80);
        margin-bottom: u.rem(24);
    }
    h2{
        font-size: u.em(65);
        margin-bottom: u.rem(13);
    }
    p{
        font-size: u.em(25);
        font-weight: 700;
        margin-bottom: u.rem(54);
    }
    #btn{
        font-size: u.em(30);
        color: var(--light-clr);
        letter-spacing: u.em(2);
        line-height: u.em(16);
    }
}
@include u.breakpoint-up(large){
    .navbar__item{
        font-size: u.em(25);
    }
    h1{
        font-size: u.em(80);
        margin-bottom: u.rem(24);
    }
    h2{
        font-size: u.em(65);
        margin-bottom: u.rem(13);
    }
    p{
        font-size: u.em(25);
        font-weight: 700;
        margin-bottom: u.rem(54);
    }
    #btn{
        font-size: u.em(30);
        color: var(--light-clr);
        letter-spacing: u.em(2);
        line-height: u.em(16);
    }
}