/*This partial control the style rules of the page.*/
@use '../utils/' as u;

.header__logo{
    font-size: u.rem(40);
}
.fa-bars{
    font-size: u.em(30);
}

h1{
    font-size: u.em(70);
    margin-bottom: u.rem(24);
    color:var(--primary-clr);
}
h2{
    font-size: u.em(55);
    margin-bottom: u.rem(13);
}
p{
    font-size: 1em;
    margin-bottom: 2rem;
}
a,
a:visited{
    text-decoration: none;
    color: #000;
}
a:active{
    color: rgb(224, 225, 225);
}
#btn{
    color: var(--light-clr);
    letter-spacing: u.em(2);
    line-height: u.em(16);
}