main, header{
    color: azure;
}

.hero button{
    background-color: rgba(188, 201, 207, .5);
    color:aliceblue;
}

.hero button:hover{
    cursor: pointer;
    background-color: rgba(22, 42, 195, .7);
    border: 1px solid rgb(188, 201, 207);
}
.cta_btn a{
    color: aliceblue;
}