//google font that will be used
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

//typography variable
$primary:'Kalam';

.content{
    font-family: $primary;
}
.content h1, h2{
    font-size: 2.5em;
}
.content button, .cta_btn a{
    font-family: $primary;
    font-size: 1.7em;
}
.cta_btn a{
    text-decoration: none;
}
.cta_btn a:hover{
    cursor: pointer;
}