@use '../Utils/' as U;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    .hamburger_line{
        display:flex;
        flex-direction:column;
      }
    
      #nav_bar, #nav_list{
        display:flex;
        justify-content:space-evenly;
      }

      #nav_bar{
        position:fixed;
        inset:0 0 0 50%;
      }
    
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
// changed the styled section from bottom to maincontent as bottom no longer exists in the index.
#mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about, #tech, .tech_item, #work, .projects, #contact, #contact_form, #collected_info, #user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects h3{
    text-align: center;
}
.cta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button, a{
        margin: auto;
    
    }
}

#contact_form{
    flex-direction: column;
    #user_info{
        justify-content: space-evenly;
    }
    //I centered the contact header
    #contact_header{
        justify-content: center;
    }
}


@include U.breakpoint-up(large){
    Header{
        padding: 0 .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav_list{
        display: flex;
        justify-content: end;
        flex-direction:row;
        align-items:center;
    }
    #Intro{
    
        p{
            position: relative;
            top: 15%;
            left: 10%;
        }
        h1{
            position: relative;
            top: 5%;
            left: 20%;
        }
        h2{
            position: relative;
            top: 0;
            left: 30%;
        }
    }
    #tech{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
    
        #tech_list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
    
            .tech_item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            #html5, #css3{
                padding:.5rem 2rem ;
            }
            #git{
                padding: .5rem 3rem;
            }
        }
    }
    #about{
            width: 70%;
            text-align: center
    }
    #work{
        .projects{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cta{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    #contact_paragraph{
        margin:.5rem 0 2rem 0;
        padding: 2rem 0 1rem 0;
        text-align: center;
    }
  }