@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
/*This page will hold the functions used in the page.*/
/*This function is similar to the one above but it converts px to em.*/
/*This page will control the responsive sizing of the page.*/
/*breakpoint sizes map
mobile = 700px
tablet = 900px
desktop = 1440px
*/
/*breakpoint sizes map for max width
small(699.98px)
medium(899.89px)
large(1439.98px)
using a 0.02 point difference avoids overlap issues
*/
/*The block below is a mixin for width-min*/
/*max-width mixin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.logo img {
  width: 60%;
}

.hero button {
  width: 15rem;
  height: 2.6rem;
  padding: 0.6rem 1rem 2.8rem 1rem;
  border: solid aqua 1.5px;
  border-radius: 35px;
}

main, header {
  color: azure;
}

.hero button {
  background-color: rgba(188, 201, 207, 0.5);
  color: aliceblue;
}

.hero button:hover {
  cursor: pointer;
  background-color: rgba(22, 42, 195, 0.7);
  border: 1px solid rgb(188, 201, 207);
}

.cta_btn a {
  color: aliceblue;
}

.content {
  font-family: "Kalam";
}

.content h1, h2 {
  font-size: 2.2em;
}

.content button, .cta_btn a {
  font-family: "Kalam";
  font-size: 1.7em;
}

.cta_btn a {
  text-decoration: none;
  font-size: 1.3em;
}

.cta_btn a:hover {
  cursor: pointer;
}

/*This media query is generated everytime the mixin is used
    The map-get functions above allows the breakpint sizes set inthe sass map above to be used in this media query
    the map-get function takes two parameters, the name of the sass map(in this case the breakpoint size) and the key in the map that we want to use
    In this case we want the key parameter to stay open as the screen sizes will vary from medium, large and x-large so I will add a parameter to the 
    mixin named $size which we will use as the second map-up function parameter 
    When creating meida queries it is best to use ems.*/
@media (min-width: 56.25em) {
  /*The @content keyword allows the style rules to be loaded in the mixin when it is used*/
  .content h1, h2 {
    font-size: 3.2em;
  }
  .cta_btn a {
    text-decoration: none;
    font-size: 2em;
  }
}
.content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.6em;
}

.hero {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.hero h1, h2 {
  margin-bottom: 0.5em;
}

.cta {
  width: 15%;
  height: 5%;
  text-align: center;
  margin-top: 1rem;
}

/*This media query is generated everytime the mixin is used
    The map-get functions above allows the breakpint sizes set inthe sass map above to be used in this media query
    the map-get function takes two parameters, the name of the sass map(in this case the breakpoint size) and the key in the map that we want to use
    In this case we want the key parameter to stay open as the screen sizes will vary from medium, large and x-large so I will add a parameter to the 
    mixin named $size which we will use as the second map-up function parameter 
    When creating meida queries it is best to use ems.*/
@media (min-width: 56.25em) {
  /*The @content keyword allows the style rules to be loaded in the mixin when it is used*/
  .hero {
    align-items: flex-start;
  }
}/*# sourceMappingURL=styles.css.map */