*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(12, 12, 12);
}
a{
    color: aliceblue;
    text-decoration: none;
    font-family: courier;
    font-size: 2em;
}