*{
    box-sizing: border-box;
}
/*custom properties below*/
:root{
    --line-active:#3498db;
    --line-empty:#e0e0e0;
}
body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
#content{
    text-align: center;
}
#progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
/*This code block is a copy of the progress code block. This one shows the gray line */
#progress-container::before{
    content:'';
        background-color: var(--line-empty);
        position: absolute;
        /*the below line puts the line in the in the middle of the page*/
        top: 50%;
        left: 0;
        /*The line below puts the line in the middle of the numbers*/
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        z-index: -1;
}
#progress{
    background-color: var(--line-active);
    position: absolute;
    /*the below line puts the line in the in the middle of the page*/
    top: 50%;
    left: 0;
    /*The line below puts the line in the middle of the numbers*/
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}
/*the next code block styles the circle around the numbers*/
.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    border: 3px solid var(--line-empty);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*The transition here matches up with the progress element because once the user moves to the specific step it will turn active.*/
    transition: .4s ease;
}
/*the code block styles the element with the active class on it.*/
.circle.active{
    border-color: var(--line-active);
}