*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(12, 12, 12);
}
#loading{
    position: relative;
    color: aliceblue;
    font-family: courier;
    font-size: 2em;
    /*This line causes the word to give a mirror effect.*/
    text-transform: uppercase;
    -webkit-box-reflect:below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
}
#loading span{
    display: inline-block;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

/*This section caused the up and down .*/
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}