*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    position: relative;
    font-family:sans-serif;
    font-weight: bold; 
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}