*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    min-height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    color: #ddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
}
h1 span{
    opacity:0;
    display:inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity:1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}