body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#component{
    display: flex;
}
#form_section{
    text-align: center;
}
form{
    position: relative;
    top:10%;
    left: 15%;
    width: 100%;
}
button{
    position: relative;
    top:0%;
    left: -15%;
}