*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #262626;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading{
    position: absolute;
    color: #484848;
    font-family: Arial;
    font-size: 3em;
    letter-spacing: 15px;
}
#loading span{
    animation: animate 1.4s linear infinite;
}
@keyframes animate{
    0%{
        color: #484848;
        text-shadow: none;
    }
    90%{
        color:#484848 ;
        text-shadow: none;
    }
    100%{
        color:#e600ff ;
        text-shadow:0 0 7px #f700ff, 0 0 50px #ff0040 ;
    }
}
#loading span:nth-child(1){
    animation-delay: .2s;
}
#loading span:nth-child(2){
    animation-delay: .4s;
}
#loading span:nth-child(3){
    animation-delay: .6s;
}
#loading span:nth-child(4){
    animation-delay: .8s;
}
#loading span:nth-child(5){
    animation-delay: 1s;
}
#loading span:nth-child(6){
    animation-delay: 1.2s;
}
#loading span:nth-child(7){
    animation-delay: 1.4s;
}
