*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, aliceblue,darkorange);
    font-family:'Gill Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper{
    background:url('./media/Portfolio-img2\ copy.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 350px;
    box-shadow: 0 15px 20px 5px rgba(0,0,0,0.5);
}
#box{
    background: #262626;
    width: 350px;
    padding: 10px;
    /*This place the html data in a circle shape and positioned it in the upper left hand section of the wrapper.*/
    clip-path: circle(5% at 91% 7%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    height: 650px;
}#content{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 15px;
}
#box:hover{
    clip-path: circle(75%);
    background: darkorange;
}
#box:hover span{
    color: #262626;
}
/*This moves the bars icon into the middle of the cirle and changes the color to white."*/
#box span{
    float: right;
    color: #fff;
    font-weight: bold;
    transition: color .5s;
    position: relative;
    margin-right: 4%;
    margin-top: 8%;
}
#box h1{
    color: #fff;
}
#box p{
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5;
}
.social{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 40px;
}
.social span i{
    color: #fff;
   margin: 0 5px;
}