*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#content{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(58, 27, 27, 0.744), rgba(8, 27, 27, 0.744)), url('../media/jezael-melgoza-7H77FWkK_x4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-magnify{
    width: 2em;
    color: black;
}
/*This section styles the look of what the user will think is the search bar.*/
#search__bar{
    background: rgba(255, 255,255, .2);
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 60px;
}
