*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(58, 27, 27, 0.744), rgba(8, 27, 27, 0.744)), url('../media/jezael-melgoza-7H77FWkK_x4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom: 3.5rem;
    color: rgb(210, 5, 5);
    font-size: 2.5em;
    
}
.fa-magnify{
    width: 2em;
    color: black;
}
/*This section styles the look of what the user will think is the search bar.*/
#search__bar{
    background: rgba(255, 255,255, .2);
    width: 90%;
    max-width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 15px;
    border-radius: 60px;
    backdrop-filter: blur(4px) saturate(100%);
}
/*Style the input of the search section so that it seems that the overall section and the input are one item.*/
#search__bar input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
}
::placeholder{
    color: aliceblue;
}

.search__btn{
   border: 0;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background: #a6a1a1;
   opacity: .7;
}
i{
   color: aliceblue;
}
.search__btn:hover{
    cursor: pointer;
}