#header_container{
    width: 100vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 #logo, #navburger{
width: 10%;
margin:1rem;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#logo img{
    width: 1rem;
}
#navburger{
    width: 30%;
}