*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sign{
    position: absolute;
    padding: 0 20px;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 4em;
    text-shadow: 0 0 20px #ff005b;
}
/*the after psuedo elements are layers that create the inner glowing effect.*/
#sign::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}
/*the before psuedo elements are layers that create the outer glowing effect.*/
#sign::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}