@use '../utils/' as u;

body{
    height: 100vh;
    margin-left: u.rem(30);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.header{
    width: 100vw;
    display: flex;
    margin: u.rem(20) 0 u.rem(200) 0;

    &__logo{
        width: 90%;
    }
}
.content,
.hero__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    &--left{
        height: 90%;
        margin-bottom: u.rem(80);
    }
    &--pitch{
       height: 100%;
    }
    &--right{
        height: 50%;
    }
}
ul{
    display: none;
}

@include u.breakpoint-up(large){
    .header{
        width: 100vw;
        display: flex;
        justify-content: space-between;

        &__logo{
            width: 40%;
        }
        &__navbar{
            width: u.rem(600);
        }
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .hero__container{
        display: flex;
        flex-direction: row;
        
        &--left{
            width: 100%;
        }
        &--right{
            width: 85%;
        }
    }
}
